@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali',
    cursive;
    color: #fff;
}

body {
    font-size: 1.2rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 2000% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

.cc{
    top: 50px;
    width: 80%;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 80% 50%;
    }
}


@media screen and (max-width: 500px) {
    .cc {
        font-size: .8rem;
        text-overflow: auto;
    }
}
